@import '../../variables'

.header
    h2
        font-family: $title_font
        font-size: 4rem
    p
        font-size: 1.3rem

.allCategories
    margin-bottom: 5rem

.radio-group
        margin-top: 2rem
        height: 3rem
        @include flexbox_centre()
        flex-wrap: wrap

.radio-btn
        height: 100%
        font-size: 1rem
        display: flex
        justify-content: center
        align-items: center

 
@media screen and (min-width: 768px)
    .header
        @include flexbox_column()

        h2
            font-size: 6rem
        p
            font-size: 2rem
            text-align: center
    .allCategories
        @include flexbox_centre()
        gap: 3rem
        flex-wrap: wrap

    .infos-categories
        margin: 0 calc(10rem - 4rem)

    .radio-group
        margin-top: 2rem
        height: 3.5rem
        @include flexbox_centre()

    .radio-btn
        height: 100%
        font-size: 1.5rem
        display: flex
        justify-content: center
        align-items: center

 
        