@import "../../variables"

.container_form
    @include flexbox_column()
    
    .form
        // width: 40vw
        height: 80svh
        padding: 0.5rem 1.5rem 1.5rem 2rem
        border-radius: 10px
        margin-bottom: 5rem 

        label
            font-size: 1.5rem
            color: black
        input
            height: 3rem
            font-size: 1.3rem
        span
            &:focus,
            &:hover
                border-color: $secondary_color  
.button-start
    background-color: $primary_color
    font-weight: bold
    font-size: 1.5rem
    @include flexbox_centre()
    
.ant-btn.css-dev-only-do-not-override-1r287do.ant-btn-primary.ant-btn-lg.ant-btn-block.button-start:hover
    background-color: $secondary_color
.title
    text-align: center
    font-size: 3rem
    color: $primary_color
    

.ant-input 
    &:focus,
    &:hover 
        border-color: $secondary_color  
.ant-input 
    background-color: red
.ant-input-password
    &:focus,    
    &:hover
        border-color: $secondary_color  
    
.ant-checkbox-inner
    background-color: $secondary_color
.ant-input-password
    height: 3.4rem


@media screen and (min-width: 768px)
    .container_form
        .nav_bar
            display: none
        .form
            min-width: 45vw
            height: 60svh
            label
                font-size: 1.3rem
            input
                height: 2.2rem
    .ant-input-password
        height: 2.8rem

@media screen and (min-width: 1024px)
    .container_form
        .nav_bar
            display: none
        .form
            width: 45vw
            height: 60svh
            
            input
                height: 3.5rem
    
        .button-start
            border: 1px solid white
            border-radius: 25px
            width: 35rem
            height: 3.5rem
            font-size: 1.5rem
            font-weight: bold
        .ant-form-item-control-input-content
            display: flex
            align-items: center
            justify-content: center
            
    .ant-input-password
        height: 3.7rem
            