@import '../../../variables.sass'

.animalsCat
    a
        text-decoration: none
        color: black
.animalsInfo 
    img 
        width: 12rem
        height: 12rem
        object-fit: cover
        border-radius: 50%
    h3 
        text-align: center
        font-size: 2.5rem
        margin-top: 0.5rem
        font-family: $title_font
    
@media screen and (min-width: 768px)
    .animalsInfo
          h3
            font-size: 3rem
          img
            width: 20rem
            height: 20rem
            border-radius: 5px

@media screen and (min-width: 1024px)
    .animalsInfo
        h3
            font-size: 3.5rem
        img
            width: 35rem
            height: 35rem
            border-radius: 15px