@import '../../../variables.sass'

.animalsInfo 
    img 
        width: 12rem
        height: 12rem
        object-fit: cover
    h3 
        text-align: center
        font-size: 2.5rem
        margin-top: 0.5rem
        font-family: $title_font