@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

$title_font: "Italianno", sans-serif

$paragraphes_font : "Montserrat", sans-serif 

$primary_color: #32de84
$secondary_color: #50C878
$size_svg: 3.2rem

@mixin flexbox_centre()
    display: flex
    justify-content: center
    align-items: center

@mixin flexbox_column()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    