@import '../../variables'

.nav_bar
    background-color: $primary_color
    height: 4rem
    width: 100%
    @include flexbox_centre()
    justify-content: space-between

.svg_icon
    width: 3rem
    height: 3rem
    padding: 0.5rem

@media screen and (width > 768px)
    .nav_bar
        height: 5rem

    .svg_icon
        width: $size_svg
        height: $size_svg

