$secondary_color: #B0FF9D
$size_svg: 3.2rem

.nav_bar
    background-color: $secondary_color
    height: 5rem
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

.svg_icon
    width: $size_svg
    height: $size_svg
    padding: 0.5rem
